{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Add Product</h1>
            {{ form(addProductForm) }}
        </div>
    </div>
{% endblock %}
